<div class="education" id="education">
  <div class="container">
    <div class="content">
      <div class="title">EDUCATION</div>
      <div class="my-education">
        <div class="school">
          <div class="cover">
            <i class="bi bi-backpack2"></i>
            <h1>Mathematics Baccalaureate 09/2017 - 06/2021</h1>
          </div>
        </div>
        <div class="university">
          <div class="cover">
            <i class="bi bi-mortarboard"></i>
            <h1>Bachelor's degree in computer science <br> 09/2022 - Present</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
