<div class="experience" id="experience">
  <div class="container">
    <div class="content">
      <div class="image">
        <img src="assets/Wevioo.jpg">
      </div>
      <div class="description">
        <h1 class="title">Outsystems Internship <br> Company: WEVIOO</h1>
        <ul class="list">
          <li class="skill">Understood Architectures of IT Systems</li>
          <li class="skill">Worked Around Agile Software Development Environment
            which Utilized Scrum
          </li>
          <li class="skill">Got to Work Around Databases</li>
          <li class="skill">Learned handling REST APIs</li>
          <li class="skill">A Final E-Commerce Platform as Project</li>
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="image">
        <img src="assets/c++2.png">
      </div>
      <div class="description">
        <h1 class="title">Certificate of Completion: "Mastering 4 Critical Skills <br>
          using C++" By Dr. Mustapha Saad (Udemy) (08/2022)</h1>
        <ul class="list">
          <li class="skill">Gained deep understanding of arrays</li>
          <li class="skill">linked lists, stacks, queues, and trees</li>
          <li class="skill">proficiency in sorting and searching algorithms,
            dynamic programming, and greedy algorithms.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
