<div class="projects" id="projects">
  <div class="container">
    <section class="carrousel">
      <div class="list">
        <div class="item chosen">
          <figure>
<!--            <img src="assets/">-->
          </figure>
          <div class="content">
            <h2>E-Commerce Platform Using Outsystems</h2>
            <p class="description">
              A Fully Operational E-Commerce Platform covering Database, Client
              Side/Admin Side, Secured Authentication, Ticket System/Email Sender
              for Support Contact, Shopping Cart/Ordering System.
            </p>
            <div class="more">
              <button>See more</button>
            </div>
          </div>
        </div>
        <div class="item">
          <figure>
<!--            <img src="assets/">-->
          </figure>
          <div class="content">
            <h2>Microsoft Word Invoice Generator</h2>
            <p class="description">
              Developed skills in building user-friendly GUIs using Java Swing.
              Learned techniques for file creation, modification, and management.
              Enhanced project management skills by planning, designing, and
              implementing the project from start to finish.
            </p>
            <div class="more">
              <button><a href="https://github.com/Smokem01/InvoiceGenerator">See more</a></button>
            </div>
          </div>
        </div>
        <div class="item">
          <figure>
<!--            <img src="">-->
          </figure>
          <div class="content">
            <h2>Platform to Manage End of Study Projects</h2>
            <p class="description">
              Learned Front-end development with HTML and CSS building a userfriendly
              interface.
              Practiced Server-side scripting with PHP for dynamic content.
              Practiced Database design, management, and SQL.
            </p>
            <div class="more">
              <button>See more</button>
            </div>
          </div>
        </div>
      </div>
      <div class="arrows">
        <button id="prev"><</button>
        <button id="next">></button>
      </div>
      <div class="indicators">
        <div class="number">01</div>
        <ul>
          <li class="active"></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </section>
  </div>
</div>
