<div class="skills" id="skills">
  <div class="cover"></div>
  <div class="container">
    <div class="content">
      <div class="banner">
<!--        <div class="title">SKILLS</div>-->
        <div class="slider" style="--quantity: 10">
          <div class="item" style="--position: 1">
            <img src="assets/python.png">
          </div>
          <div class="item" style="--position: 2">
            <img src="assets/c++.png">
          </div>
          <div class="item" style="--position: 3">
            <img src="assets/c.png">
          </div>
          <div class="item" style="--position: 4">
            <img src="assets/rust.png">
          </div>
          <div class="item" style="--position: 5">
            <img src="assets/java-logo.webp">
          </div>
          <div class="item" style="--position: 6">
            <img src="assets/php.png">
          </div>
          <div class="item" style="--position: 7">
            <img src="assets/prb.png">
          </div>
          <div class="item" style="--position: 8">
            <img src="assets/grph.png">
          </div>
          <div class="item" style="--position: 9">
            <img src="assets/debug.png">
          </div>
          <div class="item" style="--position: 10">
            <img src="assets/oop.webp">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
