<div class="profile" id="profile">
  <div class="cover">

  </div>
  <div class="container">
    <div class="content">
      <div>
        <span class="title">hello im feres baba</span>
        <span class="description">
          I am a computer science student focused on enhancing problem-solving skills and recently entering the
          competitive programming scene. Proficient in C/C++, Java and Rust, with a strong foundation in
          software development and practical experience from various projects.
        </span>
        <button class="download-btn"><a href="assets/feres_baba.pdf" download>download CV </a><i class="bi bi-cloud-arrow-down ms-2" style="font-size: 22px"></i></button>
        <span class="online">
          <a href="https://www.facebook.com/feres.baba"><i class="bi bi-facebook"></i></a>
          <a href="https://www.linkedin.com/in/feres-baba-7420ba225/"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/Smokem01"><i class="bi bi-github"></i></a>
        </span>
      </div>
      <div>
        <div class="image">
          <img src="assets/feres.jpg">
        </div>
      </div>
    </div>
  </div>
</div>
